body {
    background: white;
}

.toparea {
    text-align: center;
    background: url('room.png')no-repeat;
}

.background {
    padding: 200px;
}

.first-row {
    background: linear-gradient(to right, rgba(255, 255, 255, 0.5));
    text-align: center;
}

.first-row ul {
    list-style: none;
    padding: 0;

}

.first-row ul li {
    float: left;
}

.first-row ul li a:link,
.first-row ul li a:visited {
    text-decoration: none;
    padding: 15px;
    color: #014B40;
}

.toparea img {
    width: 95px;
    height: 40px;
    text-align: center;
}

.background h1 {
    width: 500px;
    color: white;
    padding: 50px;
}

.background p:nth-of-type(1) {
    width: 500px;
    color: white;
    padding: 0 70px;
    text-align: justify;
}
.shop{
    width: 100px;
    margin:-150px 650px;
}
.shop p a:link,
.shop p a:visited {
    color: white;
    text-decoration: none;
    padding: 10px;
    background: #014B40;
}
.explore{
    width:150px;
    margin:-150px 900px;
}
.explore p a:link,
.explore p a:visited {
    color: white;
    text-decoration: none;
}

.featured {
    padding:50px;
    background: white;
    text-align: center;
}

.featured p {
    font: 20px 'Open Sans', sans-serif;
    margin: 80px 0;
    color: #014B40;
}

.featured img {
    width: 320px;
    height: 300px;
}
.cup-tag p {
    text-align: left;
    background: linear-gradient(to right, rgba(255, 255, 255, 0.4));
    margin: -50px 50px;
}

.bar {
    padding:20px;
    background: url('bar.png')no-repeat;
    text-align: center;
}

.mb-3 {
    padding: 10px;
}
.color {
    padding:50px;
    background: white;
    text-align: center;
}
.color p {
    font: 30px 'Open Sans', sans-serif;
    padding: 50px 0;
    color: #014B40;
}

.color img {
    width: 300px;
    height: 250px;
}
.plant {
    padding-bottom: 10px;
    background: white;
    text-align: center;
}

.plant p {
    font: 30px 'Open Sans', sans-serif;
    padding:100px;
    color: #014B40;
}

.plant img {
    width: 350px;
    height: 280px;
}

.shipping {
    padding:250px 0;
    background: url('free.png')no-repeat center;
    text-align: center;
}

.contact {
    width: 100%;
    height: 600px;
    background: #014B40;
    text-align: center;
}

.con img {
    margin: 100px 0;
}

.con p {
    color: white;
    margin: -70px 0px;
    text-align: justify;
}

.con h3 {
    color: white;
}

#colFormLabel {
    text-align: left;
    padding: 10px;
    background: linear-gradient(to right, rgba(255, 255, 255, 0.3));
}

.contact h3 {
    color: white;
    margin: 100px 0;
}

.contact ul {
    list-style: none;
    margin: -80px 0;
    padding: 0;
}

.contact ul li {
    padding: 10px 0;
}

.contact ul li a:link,
.contact ul li a:visited {
    color: white;
    text-decoration: none;
}

.col:nth-child(3) h3 {
    width: 200px;
    height: 35px;
    color: white;

}

.col:nth-child(4) h3 {
    width: 150px;
    height: 35px;
    color: white;

}

.last {
    text-align: center;
    background: #014B40;
}

.last p {
    color: white;
    padding: 15px;
    background: linear-gradient(to right, rgba(255, 255, 255, 0.3));
    font-size: 15px;
}