body {
    background: white;
}

.toparea {
    text-align: center;
    background: url('room.png')no-repeat;
}

.background {
    padding: 200px 0;
}

.first-row {
    background: linear-gradient(to right, rgba(255, 255, 255, 0.5));
    text-align: center;
}

.first-row ul {
    list-style: none;
    padding: 0;

}

.first-row ul li {
    float: left;
}

.first-row ul li a:link,
.first-row ul li a:visited {
    text-decoration: none;
    padding: 15px;
    color: #014B40;
}

.toparea img {
    width: 95px;
    height: 40px;
    text-align: center;
}

.background h1 {
    width:350px;
    color: white;
    
    text-align: center;
}

.background p {
    width:400px;
    color: white;
    margin: 50px -10px;
    text-align: center;
}
.shop p{
    width:400px;
    margin: -150px -150px;
    text-align: center;
}
.shop p a:link,
.shop p a:visited {
    color: white;
    text-decoration: none;
    padding: 10px;
    background: #014B40;
}
.shop h6{
    width:200px;
    margin:125px 250px;
    
}
.shop h6 a:link,
.shop h6 a:visited {
    color: white;
    text-decoration: none;
}

.featured {
    padding:100px 0;
    background: white;
    text-align: center;
}

.featured p {
    font: 20px 'Open Sans', sans-serif;
    padding-bottom: 50px;
    color: #014B40;
    text-decoration: underline;
}

.featured img {
    width: 320px;
    height: 300px;
    padding:10px;
}
.cup-tag p {
    text-align: left;
    background: linear-gradient(to right, rgba(255, 255, 255, 0.4));
    margin:-70px 60px;
}

.bar {
    padding:50px 0;
    background: url('bar.png')no-repeat;
    text-align: center;
}

.mb-3 {
    padding: 10px;
}
.color {
    padding:50px;
    background: white;
    text-align: center;
}
.color p {
    font: 30px 'Open Sans', sans-serif;
    padding: 50px 0;
    color: #014B40;
}

.color img {
    width: 300px;
    height: 250px;
    padding:10px;
}
.plant {
    padding-bottom: 10px;
    background: white;
    text-align: center;
}

.plant p {
    font: 30px 'Open Sans', sans-serif;
    padding:100px;
    color: #014B40;
}

.plant img {
    width: 350px;
    height: 280px;
    padding:10px;
}

.shipping {
    padding:250px 0;
    background: url('free.png')no-repeat center;
    text-align: center;
}

.contact {
    background: #014B40;
    text-align: center;
}

.con img {
    margin: 100px 0;
}

.con p {
    color: white;
    margin: -70px 0px;
    text-align: justify;
}

.con h3 {
    color: white;
}

#colFormLabel {
    text-align: left;
    padding: 10px;
    background: linear-gradient(to right, rgba(255, 255, 255, 0.3));
}

.contact h3 {
    color: white;
    padding: 100px 0;
}

.contact ul {
    list-style: none;
    margin: -80px 0;
    padding: 0;
}

.contact ul li {
    padding: 10px 0;
}

.contact ul li a:link,
.contact ul li a:visited {
    color: white;
    text-decoration: none;
}
.last {
    text-align: center;
    background: #014B40;
    padding:100px 0;
}

.last p {
    color: white;
    padding: 15px;
    background: linear-gradient(to right, rgba(255, 255, 255, 0.3));
    font-size: 15px;
}